<h4>Internal Server error - refreshing the page will make error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is probably not to blame</p>
<ol>
    <li>
        open Chrome dev tools! then check the Failing request in the network tab
    </li>
    <li>
        Examine the request URL - what api endpoint are you requesting?
    </li>
    <li>
        Reproduce the problem in Postman - if get same error angular is 100% not the problem
    </li>
    <p stype = "font-weight: bold;">Following is the stack trace -the first few lines will tell you which line of code caused issue in the APi</p>
    <code class="mr-5" style ="background-color:whitesmoke;">{{error.details}}</code>
</ol>
</ng-container>